* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body,
html {
  height: 100%;
}

#chatroom {
  height: 500px;
  width: 30%;
  background-color: rgb(212, 212, 212);
  overflow: auto;
  #rName,
  #rMsg {
    text-align: end;
  }
  h3 {
    margin-top: 15px;
  }
  p {
    margin-top: 5px;
  }
}
